/KH_Arch/shell.py
/KH_Arch/temp_DB.py
/KH_Arch/db.sqlite3
/.$UML Diagrams.drawio.bkp
/.$UML Diagrams.drawio.dtmp
/run_dbshell
/run_env
/run_djangoShell
/run_test
/KH_Arch/projects/views.py.bak
/KH_Arch/media/
/KH_Arch/.coverage
