{% extends 'home/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/objects_list.css' %}">
{% endblock %}
{% block content %}
<div class="objects-grid">
    {% for event in events %}
        <div class="object">
            {% if event.cover %}
                <img src="{{ event.cover.url }}" alt="{{ event.title }}">
            {% else %}
                <img src="{% static 'default/no_pics.png' %}" alt="No Image">
            {% endif %}
            <a href="{% url 'event_detail'  event.id %}">
                <h3>{{ event.title }}</h3>
            </a>
            <p>{{ event.description|truncatechars:150 }}</p>
        </div>
    {% empty %}
        No event available.
    {% endfor %}
</div>
{% endblock %}