{% extends 'home/base.html' %}
{% load static %}
{% block content %}
<div class="project-detail">
    <h2>{{ project.title }}</h2>
    {% if project.thumbnail %}
        <img src="{{ project.thumbnail.image.url }}" alt="{{ project.title }}">
    {% else %}
        <img src="{% static 'default/no_pics.png' %}" alt="No Image">
    {% endif %}
    <p>{{ project.description }}</p>
    <!-- Galerie des photos du projet -->
    <div class="project-gallery">
        <h3>Galerie</h3>
        {% for photo in photos %}
            <div class="gallery-item">
                <img src="{{ photo.thumbnail.url }}" alt="{{ photo.description }}">
            </div>
        {% empty %}
            <p>Aucune photo disponible pour ce projet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
